<div *ngIf="showContent">
  <div class="header" *ngIf="selectedType.name === 'Hats'">
    <h3>
      <b>As per customer reviews : Fit {{ product.reviews.fit }} %</b>
    </h3>
  </div>

  <!-- Loading Virtual Try-On-->
  <div class="content" *ngIf="product_id === 'c01'">
    <iframe
      src="https://bbinary.8thwall.app/blackhat/"
      allow="camera; microphone"
      class="frame"
    ></iframe>
  </div>

  <div class="content" *ngIf="product_id === 'c02'">
    <iframe
      src="https://bbinary.8thwall.app/cowboy-hat/"
      allow="camera; microphone"
      class="frame"
    ></iframe>
  </div>

  <div class="content" *ngIf="product_id === 'c03'">
    <iframe
      src="https://bbinary.8thwall.app/witch-hat/"
      allow="camera; microphone"
      class="frame"
    ></iframe>
  </div>

  <!-- For Plants | Rear Camera Required -->

  <div class="plant-content" *ngIf="selectedType.name === 'Plants'">
    <app-header></app-header>
    <h1 class="plant-header">
      <b>You would require a rear camera for this!</b> <br />
      Please scan the QR code or go to the given link -
    </h1>
    <div class="sub-cont">
      <img
        *ngIf="product_id === 'p01'"
        src="../../../assets/img/cactus.png"
        class="qr"
      />
      <img
        *ngIf="product_id === 'p02'"
        src="../../../assets/img/greenplant.png"
        class="qr"
      />
      <img
        *ngIf="product_id === 'p03'"
        src="../../../assets/img/pottedplant.png"
        class="qr"
      />
      <img src="../../../assets/img/plant_mobile.svg" class="img" />
      <h3 class="link">{{ product.short_link }}</h3>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<div *ngIf="!showContent">
  <app-header></app-header>
  <div class="default_msg">
    <h1 class="default_msg">Sorry, no products found!</h1>
    <button
      mat-raised-button
      class="mi-button"
      color="primary"
      routerLink="/home"
    >
      Click here to search new products</button
    ><br />
    <img class="sorry-img" src="../../../assets/img/sorry.svg" />
  </div>
  <app-footer></app-footer>
</div>
